.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.aws_logo {
  width: 6%;
  margin-right: 10px;
}

.submit_button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #eee;
  background-color: #ff2d2d;
  padding: 10px 30px;
  margin-top: 10;
  text-transform: uppercase;
  transition: all .2s;
}

.submit_button:hover {
  background-color: #bd0505;
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
